<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2008 Google Inc.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.photostream"
	android:versionName="1.0"
	android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="@string/application_name"
        android:theme="@style/Theme"
        android:icon="@drawable/application_icon">

        <activity
            android:name=".LoginActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Alias activity used to set the wallpaper on Home. The alias is used
             simply to have a different label. -->
        <activity-alias android:name="WallpaperActivity"
            android:targetActivity="LoginActivity"
            android:label="@string/activity_set_wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Alias activity used to create shortcuts on Home. The alias is used
             simply to have a different label. -->
        <activity-alias android:name="CreateShortcutActivity"
            android:targetActivity="LoginActivity"
            android:label="@string/activity_create_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- action: com.google.android.photostream.FLICKR_STREAM,
             extra: com.google.android.photostream.extra_nsid, String -->
        <!-- action: com.google.android.photostream.FLICKR_STREAM,
             extra: com.google.android.photostream.extra_user, Flickr.User -->
        <activity
            android:name=".PhotostreamActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="com.google.android.photostream.FLICKR_STREAM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="flickr.com"
                      android:pathPrefix="/photos/" />
                <data android:scheme="http"
                      android:host="www.flickr.com"
                      android:pathPrefix="/photos/" />
            </intent-filter>
        </activity>

        <!-- action: com.google.android.photostream.FLICKR_PHOTO,
             extra: com.google.android.photostream.extra_photo, Flickr.Photo -->
        <activity
            android:name=".ViewPhotoActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="com.google.android.photostream.FLICKR_PHOTO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme"
            android:name=".SettingsActivity"
            android:label="@string/activity_preferences" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".CheckUpdateService" />

    </application>
    <uses-sdk android:targetSdkVersion="4" android:minSdkVersion="4" />
</manifest>
