<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.lunarlander">
    <application>
        <activity class=".LunarLander" android:label="LunarLander">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
