<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anddev.android.filebrowser">
    <application>
        <activity class=".AndroidFileBrowser" android:label="AndroidFileBrowser">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
