<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
      package="com.example.android.snake.tests">
    
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->    
    <application>
        <uses-library android:name="android.test.runner" />
    </application>

  <instrumentation android:name="android.test.InstrumentationTestRunner"
      android:targetPackage="com.example.android.snake"
      android:label="Snake sample tests">
  </instrumentation>  
  
</manifest>
